/* UNIVERSAL SELECTOR */
* {
	margin: 0;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	box-sizing: border-box;
}

/* ELEMENT-WIDE STYLING */
header {
	padding: 20px 0 15px;
}

body {
	background: #fbfbfb;
}

ul {
	list-style-type: none;
	padding-inline-start: 0px;
}

a:hover, i:hover {
	color: black;
}

h1, h2 {
	font-weight: 600;
	font-size: 40px;
	line-height: 114.5%;
	color: #083E9E;
}

/* NAVIGATION MENU */
.logo
{
	height: 50px;
	padding: 2px 10px;
}

.icon-bar
{
	background: black;
}

.nav-style a {
	color: #333;
}

/* HEADER SECTION */
.price-title {
	font-size: 24px;
	line-height: 24px;
	margin: 5% 0;
}

.price {
	font-size: 36px;
	line-height: 36px;
	color: #000000;
}

.calc-text {
	font-size: 24px;
	line-height: 114.5%;
	color: #4A5568;
	font-weight: 300;
}

.header-section {
	justify-content: center;
	align-items: center;
	padding: 5%;
}

/* HOW DOES CALCULATOR WORK SECTION */
.calc-section {
	margin-top: 70px;
}

/*horizontally align section content to the middle*/
.section2 {
	align-items: center;
}

/* CREATE ACCOUNT/DOWNLOAD APP SECTION */
.account-section {
	width: auto;
	justify-content: center;
	align-items: center;
	padding: 15% 10%;
}

/* FOOTER AREA */
.footer {
	background: #F1F6F9;
	padding-top: 50px;
	padding-bottom: 30px;
}

.footer-logo {
	margin-bottom: 20px;
}

.footer-heading {
	margin-bottom: 40px;
}

.footer li {
	list-style: none;
	list-style-type: none;
	padding-bottom: 12px;
}

/* BUTTONS */
.green-btn {
	background: #30C57B;
	border-radius: 4px;
	border: none;
	margin-top: 5%;
	color: white;
	padding: 3% 2%;
	width: auto;
	font-weight: 300;
	font-size: 16px;
}

.blue-btn {
	background: #144499;
	border-radius: 4px;
	border: none;
	margin-top: 4%;
	color: white;
	padding: 1% 2%;
	width: auto;
	font-weight: 300;
	font-size: 16px;
}

.buttons {
	margin-top: 2%;
}

.store-btn {
	padding: 0 3px;
}

/* IMAGES */
.img-responsive {
	display: initial;
}


/*ALL RESPONSIVE CODES FOR DIFFERENT SCREEN SIZES GO HERE*/

/*customisations for larger screens*/
@media (min-width: 1024px) {
	.header-section, .section2 {
		display: flex;
	}

	.cst-width {
    margin-left: 100px;
	}

	.width-40{
	max-width: 40%;
	}

	.footer-right {
	text-align: right;
	}

	.blue-btn {
	margin-left: 6px;
	}
}

/*customisations for tablets*/
@media (max-width: 768px) {
	.section2 {
	text-align: center;
	}

	.header-section {
	text-align: center;
	}
}

/*customisations for medium screens*/
@media (min-width: 500px) and (max-width: 1023px) {
	.section2 {
	padding: 5% 50px;
	}
}

/*customisations for smaller screens*/
@media (max-width: 1023px) {
	.header-section, .footer {
		display: grid;
	}

	.blue-btn {
	padding: 3% 2%;
	}
}

/*customisations for mobile phones*/
@media (max-width: 414px) {
	.header-section {
		padding-bottom: 20px;
	}

	.store-btn {
	width: 70%;
    height: auto;
	padding: 10px;
	}
}