/* UNIVERSAL SELECTOR */
* {
	margin: 0;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: normal;
	box-sizing: border-box;
}

/* ELEMENT-WIDE STYLING */
header {
	padding: 20px 15px;
}

body {
	background: #fbfbfb;
}

ul {
	list-style-type: none;
	padding-inline-start: 0px;
}

a:hover, i:hover {
	color: black;
}

h1, h2 {
	font-weight: 600;
	font-size: 40px;
	line-height: 114.5%;
	color: #083E9E;
}

label {
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	margin-top: 20px;
}

/* NAVIGATION MENU */
.logo
{
	height: 50px;
	padding: 2px 10px;
}

.icon-bar
{
	background: black;
}

.nav-style a {
	color: #083E9E;
}

.nav>li>a:hover {
	text-decoration: underline;
	background-color: transparent;
}

.nav-style li {
	padding-left: 10px;
}

.menu-btn {
    background-color: transparent;
    border: 1px solid #414851;
	margin-top: 2%;
	padding: 10px 15px;
	color: #083E9E;
}

.menu-btn:hover {
    background-color: #083E9E;
    color: white;
}

/* HEADER SECTION */
.price-title {
	font-size: 24px;
	line-height: 24px;
	margin: 10% 0 5%;
}

.price {
	font-size: 36px;
	line-height: 36px;
	color: #000000;
}

.calc-text {
	font-size: 24px;
	line-height: 114.5%;
	color: #4A5568;
	font-weight: 300;
}

.header-section {
	justify-content: center;
	align-items: center;
	padding: 5%;
}

.form-control {
	background-color: #e7f2f9;
	border-radius: 4px;
	padding: 3%;
    height: auto;
    border: none;
}

.form-control:hover {
    border: 2px solid #14a0fb;
    transition: all 0.1s ease-out 0.1s;
	padding: 2.5%;
}

/* HOW DOES CALCULATOR WORK SECTION */
.calc-section {
	margin-top: 10%;
}

/* HORIZONTALLY ALIGN CONTENT TO MIDDLE */
.section2 {
	align-items: center;
}

/* CREATE ACCOUNT-DOWNLOAD APP SECTION */
.account-section {
	width: auto;
	justify-content: center;
	align-items: center;
	padding: 10%;
}

/* FOOTER SECTION */
.footer {
	background: #F1F6F9;
	padding-top: 50px;
	padding-bottom: 30px;
}

.footer-logo {
	margin-bottom: 20px;
}

.footer-heading {
	margin-bottom: 40px;
}

.footer li {
	list-style: none;
	list-style-type: none;
	padding-bottom: 12px;
}

/* BUTTONS */
.green-btn {
	background: #30C57B;
	border-radius: 4px;
	border: none;
	margin-top: 5%;
	color: white;
	padding: 3% 2%;
	width: auto;
	font-weight: 300;
	font-size: 16px;
}

.blue-btn {
	background: #144499;
	border-radius: 4px;
	border: none;
	margin-top: 4%;
	color: white;
	padding: 1% 2%;
	width: auto;
	font-weight: 300;
	font-size: 16px;
}

.buttons {
	margin-top: 2%;
}

.store-btn {
	padding: 0 3px;
}

/* IMAGES */
.img-responsive {
	display: initial;
}


/* ALL RESPONSIVE CODES FOR DIFFERENT SCREEN SIZES GO HERE */

/* CUSTOMISATIONS FOR LARGER SCREENS */
@media (min-width: 1024px) {
	.header-section, .section2 {
		display: flex;
	}

	.cst-width {
    margin-left: 100px;
	}

	.width-40{
	max-width: 40%;
	margin-top: 10%;
	}

	.footer-right {
	text-align: right;
	}

	.blue-btn {
	margin-left: 6px;
	}

	h1 {
	width: 80%;
	}
}

/* CUSTOMISATIONS FOR TABLETS */
@media (max-width: 768px) {
	.section2 {
	text-align: center;
	}

	.header-section {
	text-align: center;
	}
}

/* CUSTOMISATIONS FOR MEDIUM SCREENS */
@media (min-width: 500px) and (max-width: 1023px) {
	.section2 {
	padding: 5% 50px;
	}
}

@media (min-width: 992px) and (max-width: 1023px) {
	.header-align {
	width: 100%;
	}

	.tablet-align {
	text-align: center;
	}
}

/* CUSTOMISATIONS FOR SMALLER SCREENS */
@media (max-width: 1023px) {
	.header-section, .footer {
		display: grid;
	}

	.blue-btn {
	padding: 3% 2%;
	}
}

/* CUSTOMISATIONS FOR MOBILE PHONES */
@media (max-width: 414px) {
	.header-section {
		padding-bottom: 20px;
	}
}

/* ADDITIONAL CUSTOMISATIONS */
@media (max-width: 767px) {
	.store-btn {
	width: 60%;
    height: auto;
	padding: 10px;
	}
}

@media (max-width: 991px) {
	.header-section, .section2 {
		text-align: center;
	}
}